.texto-pequeno {
    font-size: 16px;
   
}

.divs-facilidades {
    width: 29rem;
}

.divisoesestilos {
    padding-left: 10rem;
}

.La_Tienda {
    height: 2rem;
}

.cor-verde {
    color: #77B6A8;
}

.div-ofertas {
    width: 325px;
}

